/* open-sans-condensed-300 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/open-sans-condensed-v15-latin_cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-300.svg#OpenSansCondensed') format('svg');
    /* Legacy iOS */
}
// test
/* open-sans-condensed-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/open-sans-condensed-v15-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/open-sans-condensed-v15-latin_cyrillic-700.svg#OpenSansCondensed') format('svg');
    /* Legacy iOS */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v26-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/open-sans-v26-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/open-sans-v26-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/open-sans-v26-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/open-sans-v26-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/open-sans-v26-latin_cyrillic-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/open-sans-v26-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/open-sans-v26-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/open-sans-v26-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/open-sans-v26-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/open-sans-v26-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/open-sans-v26-latin_cyrillic-700.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

/* open-sans-800 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/open-sans-v26-latin_cyrillic-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/open-sans-v26-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/open-sans-v26-latin_cyrillic-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/open-sans-v26-latin_cyrillic-800.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/open-sans-v26-latin_cyrillic-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/open-sans-v26-latin_cyrillic-800.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

$gold: #D1A954;
$black: #333333;

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    background-color: white;
    font-family: 'Open Sans Condensed', 'Times New Roman';
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1110px;
}

.header {
    background-image: url(./img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // position: absolute;
    width: 100%;
    height: 100%;
}

.header__topbar {
    padding-top: 50px;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
}

.header__menu {
    font-size: 25px;
    display: none;
    position: relative;
    z-index: 10;
}

.nav__li {
    cursor: pointer;
}

.nav__li:hover {
    color: $gold;
}

.header__tph-a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #D1A954;
}

.aside {
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    background-color: #333333bf;
}
.aside__container {
    width: 100vh;
    height: 150px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: -147px;
    transform-origin: 0 0 0;
    display: flex;
    align-items: center;
}
.asc__line {
    height: 6px;
    width: 80px;
    background-color: #c4c4c4;
    margin-left: 40px;
}
.sn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.sn__a {
    font-size: 42px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
}
.sn__a * {
    transform: rotate(90deg);
    color: #c4c4c4;
}
.sn__a *:hover, .asc__info:hover {
    color: $gold;
}
.asc__info {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-left: 40px;
    color: #c4c4c4;
    cursor: pointer;
}

.header__ddm {
    display: none;
    width: 300px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $black;
}

.ddm__nav {
    margin-top: 140px;
    margin-left: 40px;
}

.ddm__li {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.ddm__sn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 140px;
    height: 126px;
}

.dsn__a {
    font-size: 42px;
    width: 26px;
    height: 45px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.dsn__a:hover {
    color: $gold;
}

.header__main-section {
    display: flex;
    justify-content: flex-start;
    min-height: 80%;
}

.ms__container {
    align-self: center;
    display: grid;
    grid-template-columns: 540px;
    gap: 50px;
}

.ms__name {
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.ms__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.ms__btn-button {
    width: 160px;
    height: 50px;
    background-color: $gold;
    color: white;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: 0;
}

.main {
    background-color: $black;
}

.at {
    padding: 150px 0;
}

.main__title {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.goldText {
    color: $gold;
}

.at__container {
    display: grid;
    grid-template-columns: 445px 255px 350px;
    gap: 30px;
}

.at__container-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.at__space {
    flex-basis: 100%;
    display: none;
}

.at__container-description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.an__case {
    margin-bottom: 30px;
}

.an__case-desc {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin-top: 15px;
}

.bt {
    padding-bottom: 150px;
}

.pt {
    padding-bottom: 150px;
}

.pt__content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 200px);
    gap: 80px;
}

.cnt__container {
    display: flex;
}

.contacts {
    margin-right: 152px;
}

.contacts__li,
.contacts__a {
    text-decoration: none;
    color: white;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.break {
    flex-basis: 100%;
    height: 0;
    display: none;
}

.cnt__collectingContacts {
    margin-bottom: 80px;
}

.form {
    display: grid;
    grid-template-areas:
        "name comp msg"
        "tel email msg"
        "desc desc btn";
}

.form__inp {
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    padding-left: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: white;
    outline: none;
    margin: 0 30px 30px 0;
}

.form__inp_s {
    width: 180px;
    height: 35px;
}

.form__inp_l {
    width: 310px;
    height: 100px;
    resize: none;
    margin: 0;
    padding-top: 10px;
}

.form__name {
    grid-area: name
}

.form__tel {
    grid-area: tel
}

.form__company {
    grid-area: comp
}

.form__email {
    grid-area: email
}

.form__message {
    grid-area: msg
}

.form__desc {
    grid-area: desc;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
}

.form__btn-container {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    grid-area: btn;
    background: $gold;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 190px;
    height: 50px;
    cursor: pointer;
    border: 0;
}

.footer {
    background-color: $black;
}

.footer__line {
    border: 1px solid #565656;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
}

.footer__a {
    color: #989898;
    text-decoration: none;
}

// media.style.css

@media (max-width: 1470px) {
    .header__topbar {
        flex-wrap: wrap;
    }
    .header__nav {
        width: 100%;
    }
    .header__tph {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin-top: 50px;
    }

    .wrapper {
        max-width: 690px;
    }

    .at__container {
        grid-template-columns: 70% 30%;
        justify-content: center;
    }
    .at__building-pic {
        display: none;
    }
    .bt__pic {
        width: 100%;
    }
    .bt.wrapper {
        max-width: 100%;
    }
    .pt__content {
        justify-content: flex-start;
        overflow-x: hidden;
    }

    .cnt__collectingContacts {
        order: -1;
    }
    .cnt__container {
        flex-wrap: wrap;
    }
    .contacts {
        margin: 0;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .break {
        display: block;
    }
    .form__inp_l {
        width: 270px;
    }
    .contacts__email, .contacts__adress {
        text-align: right;
    }
}

@media (max-width: 1000px) {
    .header__nav, .aside {
        display: none;
    }
    .header__tph {
        margin: 0;
        justify-content: flex-end;
    }
    .header__menu {
        display: block;
    }
    .header__tph {
        flex-basis: auto;
    }
}

@media (max-width: 800px) {
    .at__container {
        grid-template-columns: none;
    }
    .at__container-title, .at__container-description {
        text-align: center;
    }
    .at__about-numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .at__space {
        display: block;
    }
    #an__case {
        margin-right: 60px;
    }
}

@media (max-height: 750px) {
    .header__nav, .aside {
        display: none;
    }
    .header__tph {
        margin: 0;
        justify-content: flex-end;
    }
    .header__menu {
        display: block;
    }
    .header__tph {
        flex-basis: auto;
    }
}